export("GOaGO")
export("DotPlot")
export("genePairs")
export("keyType")
export("RidgePlot")

exportClasses("GOaGO-result")
exportMethods("as.data.frame")
exportMethods("as.data.table")
exportMethods("organism")
exportMethods("show")

importFrom("BiocGenerics", "as.data.frame", "organism")
importFrom("BiocParallel", "bplapply")
importFrom("clusterProfiler", "enrichGO")
importFrom("data.table", ":=", "as.data.table", "data.table", "dcast",
    "setcolorder", "setnafill")
importFrom("ggplot2", "aes", "geom_point", "ggplot", "guide_legend", "guides",
    "scale_color_manual", "scale_size", "theme", "xlab", "ylab")
importFrom("ggridges", "geom_density_ridges")
importFrom("Matrix", "Matrix", "colSums", "which")
importFrom("methods", "new", "show")
importFrom("qvalue", "qvalue")
importFrom("stats", "p.adjust")
importFrom("utils", "str")
