export("GOaGO")
export("DotPlot")
export("genePairs")
export("keyType")
export("RidgePlot")
export("termGenePairs")

exportClasses("GOaGO-result")
exportMethods("as.data.frame")
exportMethods("as.data.table")
exportMethods("organism")
exportMethods("show")

importFrom("AnnotationDbi", "mapIds", "species")
importFrom("BiocGenerics", "as.data.frame", "organism")
importFrom("BiocParallel", "bplapply")
importFrom("clusterProfiler", "enrichGO")
importFrom("data.table", ":=", "as.data.table", "data.table", "dcast",
    "setcolorder", "setnafill")
importFrom("DOSE", "theme_dose")
importFrom("ggplot2", "aes", "element_text", "expansion", "geom_point",
    "ggplot", "label_wrap_gen", "labs", "scale_color_manual",
    "scale_fill_manual", "scale_size", "scale_x_continuous", "scale_y_discrete",
    "theme")
importFrom("ggridges", "geom_density_ridges")
importFrom("Matrix", "Matrix", "colSums", "which")
importFrom("methods", "new", "show")
importFrom("qvalue", "qvalue")
importFrom("stats", "p.adjust")
importFrom("utils", "head", "str")
